<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>
    <div class="container">

        <%- include('sidebar') -%>

            <div class="content">

                <h1>Edit Product</h1>

                <% if(message=="Please Insert New Data" ){ %>

                    <h3 class="warning">***<%=message%>***</h3>

                    <%} else if(message=="Product Updated Successfully" ){ %>
                        <h3 class="success">***<%=message%>***</h3>
                  <%  } %>

                        <form id="product-form" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="category">Product Category:</label>
                                <select id="category" name="category">
                    

                                    <% for(let category of allCategories){ %>

                                        <% if(category.name==product.category){%>
                                            <option selected="true" value="<%=category.name%>">
                                                <%=category.name%>
                                            </option>
                                            <%} else{ %>
                                                <option value="<%=category.name%>">
                                                    <%=category.name%>
                                                </option>
                                                <% } %>
                                                    <% } %>
                                </select>
                                <span id="category-error" class="error-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="name">Product Name:</label>
                                <input type="text" id="name" name="name" value="<%=product.name%>">
                                <span id="name-error" class="error-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="price">Product Price:</label>
                                <input type="number" id="price" name="price" value="<%=product.price%>">
                                <span id="price-error" class="error-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="quantity">Product Quantity:</label>
                                <input type="number" id="quantity" name="quantity" value="<%=product.quantity%>">
                                <span id="quantity-error" class="error-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="description">Product Description:</label>
                                <textarea id="description" name="description"><%=product.description%></textarea>
                                <span id="description-error" class="error-message"></span>
                            </div>

                            <input type="hidden" name="productId" value="<%=product._id%>">


                            <div class="form-group">

                                <div class="file-upload">
                                    <label for="file1">
                                        <span>Choose Image</span>
                                    </label>
                                    <input type="file" id="file1" name="file1">
                                    <div class="file-name"></div>
                                </div>
                                <span id="image1-error" class="error-message"></span>
                                <div class="preview-image" id="preview-image1"></div>
                            </div>

                            <div class="form-group">

                                <div class="file-upload">
                                    <label for="file2">
                                        <span>Choose Image</span>
                                    </label>
                                    <input type="file" id="file2" name="file2">
                                    <div class="file-name"></div>
                                </div>
                                <span id="image2-error" class="error-message"></span>
                                <div class="preview-image" id="preview-image2"></div>
                            </div>


                            <div class="form-group">

                                <div class="file-upload">
                                    <label for="file3">
                                        <span>Choose Image</span>
                                    </label>
                                    <input type="file" id="file3" name="file3">
                                    <div class="file-name"></div>
                                </div>
                                <span id="image3-error" class="error-message"></span>
                                <div class="preview-image" id="preview-image3"></div>
                            </div>

                            <button type="submit">Update Product</button>
                           



                        </form>


            </div>
    </div>

    <script src="/js/editProductValidation.js"></script>
</body>

</html>