<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/viewSelectedPendingOrder.css">


</head>

<body>



    <div class="container">

        <%- include('sidebar') -%>


            <div class="content">

                <main>

                    <div class="order">

                        <h1 class="order-detail-heading">Order Details</h1>
                        <div class="orderDetails">

                            <h1>Order# <%=order._id%>
                            </h1>
                            <h1>
                                <%=order.status%>
                            </h1>
                        </div>

                        <div class="basket">

                            <div class="basket-labels">
                                <ul>
                                    <li class="item item-heading">Item</li>
                                    <li class="price">Price</li>
                                    <li class="quantity">Quantity</li>
                                    <li class="subtotal">Subtotal</li>
                                </ul>
                            </div>

                            <% let totalAmount=0 %>
                                <% for(product of order.products){%>
                                    <div class="basket-product">
                                        <div class="item">
                                            <div class="product-image">
                                                <img src="images/<%=product.productCategory%> Category/<%=product.productId%>_1.jpg"
                                                    alt="Placholder Image 2" class="product-frame">
                                            </div>
                                            <div class="product-details">
                                                <h1><strong>
                                                        <%=product.productName%>
                                                    </strong></h1>

                                            </div>
                                        </div>
                                        <div class="price">
                                            <%=product.productPrice%>
                                        </div>
                                        <div class="quantity">
                                            <%=product.productUserQuantity%>
                                        </div>
                                        <div class="subtotal">
                                            <%=product.productUserQuantity*product.productPrice%>
                                        </div>

                                    </div>
                                    <% totalAmount=totalAmount + (product.productUserQuantity*product.productPrice)%>
                                        <%}%>

                                            <div class="order-price">
                                                <h1>Total Amount: <%=totalAmount%>
                                                </h1>
                                            </div>
                                            <div class="order-date">
                                                <h1>
                                                    <%=order.date.toLocaleString()%>
                                                </h1>
                                            </div>

                        </div>

                    </div>

                </main>




                <div class="table-container">
                    <h3>Customer Details</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone#</th>
                                <th>Address</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <%= order.userName %>
                                </td>
                                <td>
                                    <%= order.userEmail%>
                                </td>

                                <td>
                                    <%= order.userPhone%>
                                </td>
                                <td>
                                    <%= order.userAddress %>
                                </td>

                            </tr>




                        </tbody>
                    </table>
                </div>


                <div class="action-button">

                   <a href="/approvePendingOrder?orderId=<%=order._id%>"><button>Approve</button></a> 
                   <a href="/cancelPendingOrder?orderId=<%=order._id%>"><button>Cancel</button></a> 
                </div>




            </div>

    </div>



</body>

</html>