<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/customer/homepage.css">


</head>

<body>

    <% if(typeof searchedProduct=="undefined" ){%>

        <%-include('navbar') -%>

        <%}else{%>

            <%-include('navbar',{searchedProduct}) -%>

            <%}%>

   


        <div class="container">

            <%- include('categorybar') -%>


                <div class="content">

                    <% if(typeof searchedProduct=="undefined" ){%>

                        <h1>
                            <%=categoryName%> Category
                        </h1>
                        <%}else{%>
                            <h1>All Related Matches</h1>

                            <%}%>

                                <div class="categories">

                                    <% for(product of allProducts){ %>
                                        <a href="/showProductDetails?productId=<%=product._id%>">
                                            <div class="col-4">
                                                <img src="images/<%=product.category%> Category/<%=product._id%>_1.jpg"
                                                    alt="">
                                                <h4>
                                                    <%=product.name%>
                                                </h4>
                                            </div>
                                        </a>
                                        <%} %>
                                </div>











                </div>

        </div>

</body>

</html>