<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/customer/myorders.css">


</head>

<body>

    <%-include('navbar') -%>


        <div class="container">

            <%- include('categorybar') -%>


                <div class="content">






                    <form id="search-filter" action="/myOrdersSearchFilter" method="POST">
                        <div class="search-container">
                            <h3>Search Filters</h3>
                            <div class="input-group">
                                <label for="orderStatus">Order Status:</label>
                                <% if(typeof(searchQuery)=="undefined" || !searchQuery.status){%>

                                    <select id="orderStatus" name="orderStatus">
                                        <option value="undefined">Select One</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Verified">Verified</option>
                                        <option value="Cancelled">Cancelled</option>
                                        <option value="Delivered">Delivered</option>
                                    </select>
                                    <%}else{%>
                                        <select class="orderStatus" id="orderStatus" name="orderStatus">
                                            <option value="undefined">Select One</option>
                                            <option  value="Pending" <% if(searchQuery.status=="Pending"){ %> selected <%}%>>Pending</option>
                                            <option value="Verified" <% if(searchQuery.status=="Verified"){ %> selected <%}%>>Verified</option>
                                            <option value="Cancelled" <% if(searchQuery.status=="Cancelled"){ %> selected <%}%>>Cancelled</option>
                                            <option value="Delivered" <% if(searchQuery.status=="Delivered"){ %> selected <%}%>>Delivered</option>

                                        </select>
                                        <%}%>
                            </div>

                            <div class="input-group">
                                <label for="orderDate">Order Date:</label>
                                <% if(typeof(searchQuery)=="undefined" || !searchQuery.date){%>
                                    <input type="date" id="orderDate" name="orderDate">
                                    <%}else{%>
                                        <% const year=searchQuery.date.$gte.getFullYear() %>
                                            <% let month=searchQuery.date.$gte.getMonth() %>
                                                <% month=String(month+1).padStart(2,"0")%>
                                                    <% const date=searchQuery.date.$gte.getDate() %>
                                                        <% const fullDate=year+"-"+month+"-"+date %>
                                                            <input type="date" id="orderDate" name="orderDate"
                                                                value="<%=fullDate%>">
                                                                
                                                            <%}%>
                            </div>

                            <div class="button-group">
                                <button type="submit" id="searchButton">Search</button>
                                <a href="/myOrders">
                                    <button type="button" id="resetButton">Reset</button>
                                </a>
                            </div>
                        </div>
                    </form>








                    <% if(allOrders.length!=0){%>

                        <main>

                            <% for(order of allOrders){ %>

                                <div class="order">

                                    <div class="orderDetails">

                                        <h1>Order# <%=order._id%>
                                        </h1>
                                        <h1>
                                            <%=order.status%>
                                        </h1>
                                    </div>

                                    <div class="basket">

                                        <div class="basket-labels">
                                            <ul>
                                                <li class="item item-heading">Item</li>
                                                <li class="price">Price</li>
                                                <li class="quantity">Quantity</li>
                                                <li class="subtotal">Subtotal</li>
                                            </ul>
                                        </div>

                                        <% let totalAmount=0 %>
                                            <% for(product of order.products){%>
                                                <div class="basket-product">
                                                    <div class="item">
                                                        <div class="product-image">
                                                            <img src="images/<%=product.productCategory%> Category/<%=product.productId%>_1.jpg"
                                                                alt="Placholder Image 2" class="product-frame">
                                                        </div>
                                                        <div class="product-details">
                                                            <h1><strong>
                                                                    <%=product.productName%>
                                                                </strong></h1>

                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <%=product.productPrice%>
                                                    </div>
                                                    <div class="quantity">
                                                        <%=product.productUserQuantity%>
                                                    </div>
                                                    <div class="subtotal">
                                                        <%=product.productUserQuantity*product.productPrice%>
                                                    </div>

                                                </div>
                                                <% totalAmount=totalAmount +
                                                    (product.productUserQuantity*product.productPrice)%>
                                                    <%}%>

                                                        <div class="order-price">
                                                            <h1>Total Amount: <%=totalAmount%>
                                                            </h1>
                                                        </div>
                                                        <div class="order-date">
                                                            <h1>
                                                                <%=order.date.toLocaleString()%>
                                                            </h1>
                                                        </div>

                                    </div>



                                </div>

                                <%}%>

                        </main>

                        <%}else{%>

                            <div class="no-order">
                                <h1>No Orders</h1>
                            </div>

                            <%}%>
                </div>

        </div>


   
 


</body>

</html>